<swc-settings-block-item class="overview" title="Overview">

  <img class="logo"
       [src]="darkTheme() ? '../../../../../../assets/img/logo-white.svg' : '../../../../../../assets/img/logo-black.svg'"
       alt="Saorsail Icon" />
  <p>Saorsail ("Free" in Gaelic) is a web-based storefront for all apps that are free and/or open source. Built upon
    the incredible work of the <a href="https://github.com/f-droid/" target="_blank" rel="noopener">F-Droid team</a>,
    Saorsail uses the F-Droid public database to give you access to huge collection of public domain apps.</p>

  <p>Saorsail has also been designed to make it super easy to install apps from the web, directly to your devices.</p>
</swc-settings-block-item>

<swc-settings-block-item title="Credits" subTitle="All the humans that have helped create the marketplace">
  <div class="credits">
    <a href="https://github.com/scottstraughan" target="_blank" rel="noopener">
      <img src="https://avatars.githubusercontent.com/u/42965777?v=4" alt="Scott's Avatar">
      <h1>Scott Straughan</h1>
      <h2>Creator &amp; Lead Engineer</h2>
    </a>
  </div>
</swc-settings-block-item>