<swc-settings-block-item
    class="overview"
    [title]="'SETTINGS_ABOUT_OVERVIEW_TITLE' | translate">
  <img class="logo"
       [src]="darkTheme() ? './assets/img/logo-white.svg' : '../assets/img/logo-black.svg'"
       alt="Saorsail Icon" />
  <p>{{ 'SETTINGS_ABOUT_P1' | translate }}</p>
  <p>{{ 'SETTINGS_ABOUT_P2' | translate }}</p>
</swc-settings-block-item>

<swc-settings-block-item
    [title]="'SETTINGS_ABOUT_CREDITS_TITLE' | translate"
    [subTitle]="'SETTINGS_ABOUT_CREDITS_SUBTITLE' | translate">
  <div class="credits">
    <a href="https://github.com/scottstraughan" target="_blank" rel="noopener">
      <img src="https://avatars.githubusercontent.com/u/42965777?v=4" alt="Scott's Avatar">
      <h1>Scott Straughan</h1>
      <h2>Creator &amp; Lead Engineer</h2>
    </a>
  </div>
</swc-settings-block-item>