<swc-settings-block-item title="Theme" subTitle="Customize the look and feel of the marketplace.">
  <div class="themes">
    @for (theme of themes(); track theme.name) {
      <div class="theme" [class.selected]="theme.name == selectedTheme().name" (click)="onSelectTheme(theme)">
        <div>
          <img [ngSrc]="theme.icon" [alt]="theme.name" height="374" width="471" />
        </div>
        <div>{{ theme.name }}</div>
      </div>
    }
  </div>
</swc-settings-block-item>

<swc-settings-block-item title="Colour Scheme" subTitle="Change the color scheme used on the marketplace.">
  <div class="pallet">
    @for (color of getPallets(); track color) {
      <div class="choice"
           [class.selected]="selectedTheme().pallet?.name == color.name
           || (color.name == 'blue' && selectedTheme().pallet == undefined)"
           (click)="onChoosePallet(color)">
        <div class="color {{ color.name }}"></div>
      </div>
    }
  </div>
</swc-settings-block-item>