@use '../../mixins' as *;
@use '../../variables' as *;

.content-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  .app-list-container {
    @include flex-center;
    width: 100%;
    flex: 1;
  }

  swc-loading-indicator {
    width: 100px;
  }
}
