<div class="content-container">
  <header class="splash">
    <div class="title">
      <h1>{{ 'LATEST_APPS_TITLE' | translate }}</h1>
      <h2>{{ 'LATEST_APPS_SUBTITLE' | translate }}</h2>
    </div>
    <div class="header-icon">
      <img class="header-icon" src="/assets/icons/menu/latest.svg" alt="Latest" />
    </div>
  </header>

  <div class="app-list-container">
    <div>
      @if (loading() && apps().length == 0) {
        <swc-loading-indicator class="dimmed"></swc-loading-indicator>
      } @else {
        <div class="app-list">
          @for (app of apps(); track app.namespace) {
            <swc-application-widget [application]="app"></swc-application-widget>
          }
        </div>

        <swc-show-more-button [loading]="loading()" (click)="onShowMore()"></swc-show-more-button>
      }
    </div>
  </div>
</div>