<header>
  <div class="icon">
    <swc-maskable-icon class="icon" icon="general/search"></swc-maskable-icon>
  </div>
  <div class="title">
    Default Download Method
  </div>
</header>

<div class="container">
  <div class="methods">
    @for (method of methods(); track method) {
      <div class="method" (click)="onSelectDownloadMethod(method)" [class.selected]="selectedMethod().name == method.name">
        <div class="status">
          @if (selectedMethod().name == method.name) {
            <swc-maskable-icon icon="general/checked"></swc-maskable-icon>
          }
        </div>
        <div class="icon-container">
          <swc-maskable-icon class="icon" [icon]="method.icon"></swc-maskable-icon>
        </div>
        <div class="label">
          {{ method.name }}
        </div>
      </div>
    }
  </div>
</div>

<div class="actions">
  <swc-icon-button
      icon="general/add"
      label="Add New Paired Device"
      (click)="onAddPairedDevice()"></swc-icon-button>
</div>