<div class="content-container">
  @if (loading() && apps().length == 0) {
    <swc-loading-indicator class="dimmed"></swc-loading-indicator>
  } @else {
    <header class="splash">
      <div class="title">
        <h1>Popular Apps</h1>
        <h2>Get involved and download the most popular apps from the store</h2>
      </div>
      <div class="header-icon">
        <img class="header-icon" src="/assets/icons/menu/popular.svg" alt="Popular" />
      </div>
    </header>

    <div class="app-list">
      @for (app of apps(); track app.namespace) {
        <swc-application-widget [application]="app"></swc-application-widget>
      }
    </div>

    <swc-show-more-button [loading]="loading()" (click)="onShowMore()"></swc-show-more-button>
  }
</div>