@if (application(); as application) {
  <div class="container">
    <div class="header-container" [style.background-image]="'url(' + (localizationService.resolveLocalizedImageUrl(application.metadata.icon) | async) + ')'">
      <header>
        <div class="wrapper">
          <div class="icon">
            <img [src]="(localizationService.resolveLocalizedImageUrl(application.metadata.icon) | async)"
                 alt="App Icon" />
          </div>
          <div class="title">
            <div>
              <h1>{{ localizationService.getLocalized(application.metadata.name) | async }}</h1>
              <p>{{ localizationService.getLocalized(application.metadata.summary) | async }}</p>
            </div>
          </div>
          <div class="actions">
            @if (selectedVersion(); as latestVersion) {
              <swc-install-button
                  [application]="application"
                  [version]="latestVersion"></swc-install-button>
            }
          </div>
        </div>
      </header>

      <div class="overview">
        @if (application.metadata.authorName; as authorName) {
          <div class="item">
            <h1>Author</h1>
            <h2><a [href]="application.metadata.authorWebSite"
                   target="_blank" rel="noopener">{{ authorName | truncate: 15 }}</a></h2>
          </div>
          <div class="sep"></div>
        }

        <div class="item">
          <h1>License</h1>
          <h2>{{ application.metadata.license }}</h2>
        </div>

        <div class="sep"></div>

        <div class="item">
          <h1>Added</h1>
          <h2>{{ application.metadata.added | date: 'MMM d, y' }}</h2>
        </div>

        <div class="sep"></div>

        <div class="item">
          <h1>Updated</h1>
          <h2>{{ application.metadata.lastUpdated | date: 'MMM d, y' }}</h2>
        </div>
      </div>
    </div>

    @if (screenshots(); as screenshots) {
      @if (screenshots.length > 0) {
        <div class="screenshots">
          @for (screenshot of screenshots; track screenshot) {
            <div class="screenshot">
              <img [src]="screenshot" alt="Screenshot" />
            </div>
          }
        </div>
      }
    }

    <article class="contents">
      @if (latestVersion() !== selectedVersion()) {
        <div class="old-version-message" (click)="onGoToLatest(application)">
          You are looking at an older version of this app, click here to view the latest.
        </div>
      }

      <section class="description"
               [innerHTML]="getLocalizedFormattedContents(application.metadata.description) | async"></section>

      @if (selectedVersion(); as selectedVersion) {
        @if (getLocalizedFormattedContents(selectedVersion.whatsNew) | async) {
          <h2>What's New</h2>
          <div class="whats-new" [innerHTML]="getLocalizedFormattedContents(selectedVersion.whatsNew) | async"></div>
        }

        <section class="information">
          <header>
            <h1>Information</h1>
          </header>

          <div class="panels">
            @if (application.metadata.authorWebSite; as authorWebsite) {
              <a class="panel action"
                 title="Go to the author website"
                 [href]="authorWebsite" target="_blank">
                <h1>Author</h1>
                <h2>{{ getDecentAuthorName(application.metadata.authorName) }}</h2>
              </a>
            } @else {
              <div class="panel">
                <h1>Author</h1>
                <h2>{{ getDecentAuthorName(application.metadata.authorName) }}</h2>
              </div>
            }

            @if (selectedVersion.manifest.usesPermission; as permissions) {
              <div class="panel action" (click)="onShowPermissions()" title="Click to view permissions">
                <h1>Permissions</h1>
                <h2>Uses {{ permissions.length }} permissions</h2>
              </div>
            }

            <div class="panel action" (click)="onShowAllVersions()" title="Click to view available versions">
              <h1>Available Versions</h1>
              <h2>{{ Object.values(application.versions).length }}</h2>
            </div>

            <div class="panel action" (click)="onShowAllVersions()" title="Click to view available versions">
              <h1>Selected Version</h1>
              <h2>{{ selectedVersion.manifest.versionName }}</h2>
            </div>

            @if (latestVersion(); as latestVersion) {
              <div class="panel action" (click)="onShowAllVersions()" title="Click to view available versions">
                <h1>Latest Version</h1>
                <h2>{{ latestVersion.manifest.versionName }}</h2>
              </div>
            }

            <div class="panel">
              <h1>APK Size</h1>
              <h2>{{ getUsefulFileSize(selectedVersion.file.size) }}</h2>
            </div>

            <div class="panel">
              <h1>Android SDK Target</h1>
              <h2>{{ selectedVersion.manifest.usesSdk.targetSdkVersion }}</h2>
            </div>

            <div class="panel">
              <h1>Android SDK Minimum</h1>
              <h2>{{ selectedVersion.manifest.usesSdk.minSdkVersion }}</h2>
            </div>
          </div>
        </section>
      }
    </article>
  </div>
}