@use '../../../../mixins' as *;
@use '../../../../variables' as *;

:host {
  @include hoverable-item(true);

  --internal-padding: 1.5rem;

  display: flex;
  flex-direction: column;
  background-color: var(--ui-bg-color-primary);
  border-radius: var(--border-radius-small);
  overflow: hidden;

  .body {
    flex: 1;
    display: block;
    position: relative;
    padding: var(--internal-padding);

    .stars {
      position: absolute;
      right: var(--internal-padding);
      top: var(--internal-padding);
      display: inline-block;
      background-color: #fff7d0;
      border-radius: var(--border-radius-large);
      color: #ffb415;
      padding: .5rem .9rem;
      font-size: .8rem;

      swc-maskable-icon {
        vertical-align: middle;
        width: 20px;
      }
    }

    .icon {
      width: 50px;
      height: 50px;
      border-radius: var(--border-radius-small);
      background-position: center;
      background-size: cover;
      background-color: var(--ui-bg-color-tierary);
      overflow: hidden;

      .pinned {
        @include flex-center;

        opacity: 0;
        transition: var(--transition);
        background-color: rgba(0, 0, 0, .7);
        height: 100%;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
      }

      &:hover .pinned {
        opacity: 1;
      }
    }

    h1, h2 {
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 1.1rem;
      margin-top: 1.5rem;
    }

    h2 {
      opacity: .5;
      font-size: .8rem;
      font-weight: normal;
      margin-top: .4rem;
    }
  }

  .actions {
    position: relative;
    padding: 1rem var(--internal-padding);

    .actions-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: var(--hint-color);
      opacity: .3;
    }

    swc-install-button {
      width: 100%;
    }
  }
}