@if (application(); as application) {
  <a class="body" (click)="clicked.emit()" [routerLink]="'/app/' + application.namespace">
    @if (application.stars !== undefined && application.stars > 0) {
      <div class="stars" title="This application {{ application.stars }} on the source code repo">
        <swc-maskable-icon class="star-icon" icon="general/star"></swc-maskable-icon> {{ application.stars }}
      </div>
    }

    @if (localizationService.localizeImageRecord(application.metadata.icon); as icon) {
      <div class="icon" [style.background-image]="'url(' + icon + ')'"></div>
    }

    <h1>{{ localizationService.localizeRecord(application.metadata.name) }}</h1>
    <h2>{{ localizationService.localizeRecord(application.metadata.summary) }}</h2>
  </a>

  <div class="actions">
    <div class="actions-bg"></div>
    <swc-install-button
        [application]="application"
        [version]="applicationService.getLatestVersion(application)"></swc-install-button>
  </div>
}