<swc-chatbot></swc-chatbot>


<nav>
  <a class="logo" routerLink="/">
    <img [ngSrc]="darkTheme() ? '../assets/img/logo-white.svg' : '../assets/img/logo-black.svg'"
         priority
         alt="Saorsail Logo"
         height="48"
         width="160" />
  </a>

  <div class="main">
    @if (isInAppView()) {
      <a (click)="onGoBack()" class="nav-item active back">
        <swc-icon icon="menu/back"></swc-icon><span>{{ 'BACK' | translate}}</span>
      </a>
    }

    <a routerLink="./browse" routerLinkActive="active" class="nav-item browse">
      <swc-icon icon="menu/categories"></swc-icon><span>{{ 'BROWSE' | translate }}</span>
    </a>
    <a routerLink="./latest" routerLinkActive="active" class="nav-item latest">
      <swc-icon icon="menu/latest"></swc-icon><span>{{ 'LATEST' | translate }}</span>
    </a>
    <a routerLink="./popular" routerLinkActive="active" class="nav-item nearby">
      <swc-icon icon="menu/popular"></swc-icon><span>{{ 'POPULAR' | translate }}</span>
    </a>
    <a routerLink="./favorites" routerLinkActive="active" class="nav-item nearby">
      <swc-icon icon="menu/favorite"></swc-icon><span>Favorites</span>
    </a>
  </div>

  <div class="settings">
    <a (click)="onPairDevice()" class="item" [title]="'PAIR_NEW_DEVICE' | translate">
      <swc-maskable-icon icon="general/phone"></swc-maskable-icon>
    </a>

    <a (click)="onSync()" class="item" [class.disabled]="syncing()" [title]="'SYNC_THE_DATABASE' | translate">
      <swc-loading-indicator [loading]="syncing()"></swc-loading-indicator>
    </a>

    <a (click)="onShowSettings()" class="item" [title]="'SHOW_THE_SETTINGS' | translate">
      <swc-maskable-icon icon="general/system"></swc-maskable-icon>
    </a>

    <a (click)="onChangeLang()" class="item language" [title]="'CHANGE_THE_LANGUAGE' | translate">
      @if (this.localizationService.observeLocal() | async; as languageReference) {
        <img [ngSrc]="localizationService.getLanguageIcon(languageReference)"
             alt="{{ languageReference.name }} Icon"
             width="512"
             height="512" />
      }
    </a>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

