<nav>
  <div class="logo">
    <img [ngSrc]="darkTheme() ? '../assets/img/logo-white.svg' : '../assets/img/logo-black.svg'"
         priority
         alt="Saorsail Logo"
         height="48"
         width="160" />
  </div>

  <div class="main">
    @if (isInAppView(); as backUrl) {
      <a [routerLink]="backUrl" class="nav-item active back">
        <swc-maskable-icon icon="back"></swc-maskable-icon><span i18n>Back</span>
      </a>
    }

    <a class="nav-item search" (click)="onSearch()">
      <swc-maskable-icon icon="search"></swc-maskable-icon><span i18n>Search</span>
    </a>
    <a routerLink="./categories" routerLinkActive="active" class="nav-item categories">
      <swc-maskable-icon icon="categories"></swc-maskable-icon><span i18n>Categories</span>
    </a>
    <a routerLink="./latest" routerLinkActive="active" class="nav-item latest">
      <swc-maskable-icon icon="latest"></swc-maskable-icon><span i18n>Latest</span>
    </a>
    <a routerLink="./popular" routerLinkActive="active" class="nav-item nearby">
      <swc-maskable-icon icon="popular"></swc-maskable-icon><span i18n>Popular</span>
    </a>
  </div>

  <div class="settings">
    <a (click)="onPairDevice()" class="item" title="Pair a new device">
      <swc-maskable-icon icon="thin/phone"></swc-maskable-icon>
    </a>

    <a (click)="onSync()" class="item" [class.disabled]="syncing()" title="Sync the database">
      <swc-loading-indicator [loading]="syncing()"></swc-loading-indicator>
    </a>

    <a (click)="onShowSettings()" class="item" title="Show the settings">
      <swc-maskable-icon icon="thin/system"></swc-maskable-icon>
    </a>

    <a (click)="onChangeLang()" class="item language" title="Change the language">
      @if (this.localizationService.observeLocal() | async; as languageReference) {
        <img [ngSrc]="localizationService.getLanguageIcon(languageReference)"
             alt="{{ languageReference.name }} Icon"
             width="512"
             height="512" />
      }
    </a>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>