<swc-settings-block-item
    [title]="'SETTINGS_NOTIFICATIONS_TITLE' | translate"
    [subTitle]="'SETTINGS_NOTIFICATIONS_SUBTITLE' | translate">
  <div>
    @if (notificationsState() == UserNotificationState.NOT_SPECIFIED) {
      <div class="state">{{ 'SETTINGS_NOTIFICATIONS_NOT_ENABLED' | translate }}</div>

      <swc-icon-button
          [label]="'SETTINGS_NOTIFICATIONS_CHANGE_PERMISSION' | translate"
          (click)="onAskPermission()"></swc-icon-button>
    } @else if (notificationsState() == UserNotificationState.GRANTED) {
      <div class="state granted">
        <swc-maskable-icon icon="general/checked"></swc-maskable-icon>
        <span>{{ 'SETTINGS_NOTIFICATIONS_PERMISSION_GRANTED' | translate }}</span>
      </div>

      <swc-icon-button
          label="Send Test Notification"
          (click)="onSendTestNotification()"></swc-icon-button>
    } @else if (notificationsState() == UserNotificationState.DENIED) {
      <div class="state denied">
        <swc-maskable-icon icon="general/off"></swc-maskable-icon>
        <span>{{ 'SETTINGS_NOTIFICATIONS_PERMISSION_DENIED' | translate }}</span>
      </div>
    }
  </div>
</swc-settings-block-item>