@use '../../mixins' as *;

:host {
  @include flex-center;

  position: fixed;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .popup {
    background-color: var(--ui-bg-color-secondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--border-radius-large);
    overflow: hidden;

    @media screen and (min-width: 800px) {
      height: 100vh;
      max-height: 700px;
      max-width: 900px;
      width: 100vw;
    }

    .splash {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 2rem;
      padding: 4rem;

      .item {
        @include flex-center;

        &.item:nth-of-type(1n + 1) img {
          animation: float 2s ease-in-out infinite;
        }

        &.item:nth-of-type(2n) img {
          animation: float 2s ease-in-out infinite;
          animation-delay: .5s;
        }

        &.item:nth-of-type(3n) img {
          animation: float 2s ease-in-out infinite;
          animation-delay: .7s;
        }

        &.item:nth-of-type(4n) img {
          animation: float 2s ease-in-out infinite;
          animation-delay: .2s;
        }

        &.item:nth-of-type(5n) img {
          animation: float 2s ease-in-out infinite;
          animation-delay: .1s;
        }
      }


      img {
        position: absolute;
        width: 55px;
        height: auto;
        border-radius: var(--border-radius-large);
      }
    }

    .details {
      @include flex-center;

      background: var(--color-blue);
      color: var(--color-white);
      padding: 4rem;

      .wave-icon {
        width: 40px;
        height: 40px;
        vertical-align: bottom;
      }

      .ready-button {
        color: rgba(var(--text-color-rgb));
      }

      .loading-indicator,
      .ready-button {
        margin-top: 2rem;
        display: block;
      }

      .loading-indicator {
        width: 50px !important;
      }

    }
  }

  @keyframes float {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
}

:host-context(.theme-dark) {
  .ready-button {
    color: var(--color-white);
  }
}

/**
 * Small tweak for Orion browser, ugh.
 */
::ng-deep nav {
  position: fixed;
  z-index: -1;
  background-color: #8ab000;
}