<div class="popup">
  <div class="splash">
    <div class="item row1">
      <img ngSrc="./assets/img/welcome/adaway.png" alt="Adaway App Icon" height="72" width="72"/>
    </div>
    <div class="item row1">
      <img ngSrc="assets/img/welcome/aegis.png" alt="Aegis App Icon" height="512" width="512"/>
    </div>
    <div class="item row1">
      <img ngSrc="assets/img/welcome/breezy-weather.png" alt="Breezy-Weather App Icon" height="512" width="512"/>
    </div>
    <div class="item row1">
      <img ngSrc="assets/img/welcome/duck-duck-go.png" alt="Duck-Duck-Go App Icon" height="512" width="512"/>
    </div>
    <!-- Row -->
    <div class="item row2">
      <img ngSrc="assets/img/welcome/godot.png" alt="Godot App Icon" height="512" width="512"/>
    </div>
    <div class="item row2">
      <img ngSrc="assets/img/welcome/immich.png" alt="Immich App Icon" height="512" width="512"/>
    </div>
    <div class="item row2">
      <img ngSrc="assets/img/welcome/k9.png" alt="K9 App Icon" height="512" width="512"/>
    </div>
    <div class="item row2">
      <img ngSrc="./assets/img/welcome/libretube.png" alt="Libretube App Icon" height="1280" width="1280"/>
    </div>
    <!-- Row -->
    <div class="item row3">
      <img ngSrc="./assets/img/welcome/luanti.png" alt="Luanti App Icon" height="128" width="128"/>
    </div>
    <div class="item row3">
      <img ngSrc="assets/img/welcome/newpipe.png" alt="NewPipe App Icon" height="192" width="192"/>
    </div>
    <div class="item row3">
      <img ngSrc="assets/img/welcome/newsblur.png" alt="NewsBlur App Icon" height="512" width="512"/>
    </div>
    <div class="item row3">
      <img ngSrc="assets/img/welcome/obtainium.png" alt="Obtainium App Icon" height="512" width="512"/>
    </div>
    <!-- Row -->
    <div class="item row4">
      <img ngSrc="./assets/img/welcome/pilia.png" alt="Pilia App Icon" height="918" width="918"/>
    </div>
    <div class="item row4">
      <img ngSrc="assets/img/welcome/rust-desk.png" alt="Rust-Desk App Icon" height="256" width="256"/>
    </div>
    <div class="item row4">
      <img ngSrc="assets/img/welcome/seal.png" alt="Seal App Icon" height="512" width="512"/>
    </div>
    <div class="item row4">
      <img ngSrc="assets/img/welcome/sing-box.png" alt="Sing Box App Icon" height="512" width="512"/>
    </div>
    <!-- Row -->
    <div class="item row5">
      <img ngSrc="./assets/img/welcome/spotube.png" alt="Spotube App Icon" height="509" width="509"/>
    </div>
    <div class="item row5">
      <img ngSrc="assets/img/welcome/termux.png" alt="Termux App Icon" height="192" width="192"/>
    </div>
    <div class="item row5">
      <img ngSrc="assets/img/welcome/thunderbird.png" alt="Thunderbird App Icon" height="512" width="512"/>
    </div>
    <div class="item row5">
      <img ngSrc="assets/img/welcome/tutamail.png" alt="Tutamail App Icon" height="512" width="512"/>
    </div>
  </div>

  <div class="details">
    <div>
      <h1>{{ 'WELCOME' | translate }}
        <img class="wave-icon"
             ngSrc="../../assets/icons/wave.svg" height="800" width="800" alt="Hand Waving"/></h1>

      <p>{{ 'WELCOME_P1' | translate }}.</p>
      <p>{{ 'WELCOME_P2' | translate }}.</p>
      <p>{{ 'WELCOME_P3' | translate }}.</p>

      @if (ready()) {
        <swc-icon-button
            class="ready-button"
            icon="general/checked"
            [label]="'LETS_GO' | translate"
            href="./categories"></swc-icon-button>
      } @else {
        <swc-loading-indicator
            class="loading-indicator"></swc-loading-indicator>
      }
    </div>
  </div>
</div>