@use '../../../../mixins' as *;
@use '../../../../variables' as *;

:host {
  @include hoverable-item;

  --swc-bg-color: var(--hint-color);
  --swc-install-button-padding: .6rem;
  --swc-text-color: var(--color-white);

  background-color: var(--swc-bg-color);
  border-radius: 30px;
  color: var(--swc-text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: .7rem;
  overflow: hidden;
  user-select: none;
  width: 100%;

  @media screen and (min-width: $mobile-breakpoint) {
    width: auto;
  }

  .wrapper,
  .options {
    @include flex-center;
    transition: var(--transition);
  }

  .wrapper {
    padding: var(--swc-install-button-padding);
    flex: 1;

    .icon,
    .title {
      @include flex-center;
    }

    .icon {
      swc-loading-indicator,
      swc-maskable-icon {
        width: 17px;
      }
    }

    .title {
      padding-left: .3rem
    }

    &:hover {
      background-color: rgba(0, 0, 0, .4);
    }
  }

  .options {
    background-color: rgba(0, 0, 0, .2);
    padding: 0 var(--swc-install-button-padding);

    swc-maskable-icon {
      width: 17px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .4);
    }
  }

  &.loading {
    --loading-opacity: .14;
    --loading-bar-size: 65px;

    transition: none 0s ease 0s;

    background-image: linear-gradient(-45deg,
            rgba(0, 0, 0, var(--loading-opacity)) 25%,
            transparent 25%,
            transparent 50%,
            rgba(0, 0, 0, var(--loading-opacity)) 50%,
            rgba(0, 0, 0, var(--loading-opacity)) 75%,
            transparent 75%,
            transparent);

    background-color: var(--hint-color);

    background-size: var(--loading-bar-size) var(--loading-bar-size);
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, .1);
    animation: loading-animation 2s linear infinite;
  }

  @keyframes loading-animation {
    0% {
      background-position: 0 0
    }
    100% {
      background-position: var(--loading-bar-size) var(--loading-bar-size)
    }
  }

  &.loading2 {
    background: var(--swc-bg-color) linear-gradient(
                    90deg,
                    rgba(221, 0, 245, .8) 0%,
                    rgba(255, 15, 15, .8) 50%,
                    rgba(21, 255, 0, .8) 100%);

    background-size: 200% 100%;
    animation: loading-gradient 1s ease-in-out infinite;
  }

  @keyframes loading-gradient {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
  }
}