<div class="filters" [class.closed]="!showFilters()">
  <div class="header" (click)="onFiltersClose()">
    <swc-icon class="close" [size]="38" icon="general/close" />
  </div>

  <div class="block">
    <div i18n class="title">Search</div>
    @if (filters().getFilter('keywords'); as filter) {
      <swc-icon-input [value]="filter.value" (valueChange)="keywordSubject$.next($event)" icon="general/search" />
    }
  </div>

  <div class="block">
    <div i18n class="title">Categories</div>
    @if (filters().getFilter('categories'); as booleanFilterGroup) {
      <swc-multi-select
          [items]="getCategorySelectItems(booleanFilterGroup)"
          (selectionChange)="onBooleanFilterGroupChanged(booleanFilterGroup, $event)" />
    }
  </div>

  <div class="block">
    <div i18n class="title">Stars</div>
    @if (filters().getFilter('stars'); as booleanFilterGroup) {
      <swc-multi-select
          [items]="getCategorySelectItems(booleanFilterGroup)"
          (selectionChange)="onBooleanFilterGroupChanged(booleanFilterGroup, $event)" />
    }
  </div>

  <div class="block">
    <div i18n class="title">License</div>
    @if (filters().getFilter('license'); as booleanFilterGroup) {
      <swc-multi-select
          [items]="getCategorySelectItems(booleanFilterGroup)"
          (selectionChange)="onBooleanFilterGroupChanged(booleanFilterGroup, $event)" />
    }
  </div>

  <div class="block">
    <div i18n class="title">Sort</div>
    <select
        name="order"
        [ngModel]="selectedOrder()"
        (ngModelChange)="onOrderChanged($event)"
        [compareWith]="compareOrder">
      @for (order of DefaultOrderFilters; track order) {
        <option [ngValue]="order">{{ getFriendlyOrder(order) | titlecase }}</option>
      }
    </select>
  </div>

</div>

<div class="container content-container">
  <header class="splash">
    <div class="title">
      <h1 i18n>Browse Apps</h1>
      <h2 i18n>Get involved and download the most popular apps from the store</h2>
    </div>
    <div class="header-icon">
      <img class="header-icon" src="/assets/icons/menu/popular.svg" alt="Popular" />
    </div>
  </header>

  @if (loading()) {
    <swc-loading-indicator class="dimmed"></swc-loading-indicator>
  }

  <div class="info">
    <div class="message">
      <span i18n>Showing</span> {{ apps().length }}
      <span i18n>apps, matched</span> {{ filtererAppCount() }}
      <span i18n>of</span> {{ totalAppsCount() }} <span i18n>total</span>
    </div>
    <div class="action">
      <swc-icon-button i18n-label (click)="onShowFilters()" label="Change Filters" />
    </div>
  </div>

  <div class="app-list">
    @for (app of apps(); track app.namespace) {
      <swc-application-widget [application]="app"></swc-application-widget>
    }
    @if (apps().length < filtererAppCount()) {
      <swc-show-more-button (click)="onShowMore()"></swc-show-more-button>
    }
  </div>

</div>