@use '../../variables' as *;
@use '../../mixins' as *;

:host {
  --filters-menu-width: 350px;

  font-size: .9rem;

  .filters {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--ui-bg-color-secondary);
    height: 100vh;
    overflow: auto;
    z-index: 99999999;

    &.closed {
      display: none;
    }

    .header {
      background-color: var(--hint-color);
      color: var(--color-white);
      padding: 1rem;

      .close {
        width: 100%;
      }
    }

    @media screen and (min-width: $mobile-breakpoint) {
      left: var(--nav-desktop-width);
      display: block;
      width: var(--filters-menu-width);
      height: 100vh;
      border-right: var(--ui-border-color) 1px solid;
      overflow: auto;

      .header {
        display: none;
      }

      &.closed {
        display: block;
      }
    }

    .block {
      padding: 2rem 1.5rem;

      .title {
        font-size: 1.1rem;
        padding-bottom: 1rem;
      }

      &:not(:last-of-type) {
        border-bottom: var(--ui-border-color) 1px solid;
      }
    }

    select {
      width: 100%;
      padding: 1rem;
    }
  }

  .container {
    @include flex-center;

    position: relative;

    @media screen and (min-width: $mobile-breakpoint) {
      padding: 0 1rem;
      margin-left: var(--filters-menu-width);

      .splash {
        display: none;
      }
    }


    swc-loading-indicator {
      width: 100px;
    }

    .content-container {
      display: flex;
      flex-direction: column;
    }

    .app-list-container {
      flex: 1;
      min-height: 100vh;
      padding: 1rem;

      .app-list {
        padding: 1rem 0;
        grid-template-columns: 1fr 1fr;

        @media screen and (min-width: 1100px) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (min-width: 1300px) {
          padding: 1rem 0;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

      }

      @media screen and (min-width: $mobile-breakpoint) {
        display: block;
      }

      .loading-container {
        height: calc(100vh - var(--nav-space-taken));
      }
    }
  }

  .info {
    text-align: center;
    width: 100%;
    display: flex;
    gap: 1rem;

    .message {
      padding: 1rem;
      background-color: var(--ui-bg-color-secondary);
      border-radius: var(--border-radius-medium);
      flex: 1;
    }

    swc-icon-button {
      height: 100%;
    }

    @media screen and (min-width: $mobile-breakpoint) {
      border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);

      .action {
        display: none;
      }

      .message {
        background-color: var(--hint-color);
        color: var(--color-white);
      }
    }
  }
}
