<div class="buttons">
  <swc-icon-button
      class="pair-new-device"
      label="Pair Device"
      icon="general/add"
      (click)="onAddPairedDevice()"></swc-icon-button>

  <swc-icon-button
      href="https://github.com/scottstraughan/saorsail-assistant-android/releases"
      target="_blank"
      class="download-apk"
      icon="general/download"
      label="Get Android App"></swc-icon-button>

  <swc-icon-button
      class="change-endpoint"
      icon="general/system"
      (click)="onChangeEndpoint()"></swc-icon-button>
</div>

@if (pairedDevices().length > 0) {
  <ul class="paired-devices">
    @for (device of pairedDevices(); track device.code) {
      <li>
        <div class="info">
          <h1 class="device-name">{{ device.name }}</h1>
          <h2 class="device-code"><b>Pair Code:</b> {{ device.code }}</h2>
        </div>
        <div class="device-actions">
          <swc-copy-input
              #copyInputComponent
              class="action"
              [content]="device.code"></swc-copy-input>
          <swc-maskable-icon
              class="action delete"
              icon="general/delete"
              (click)="onRemovePairedDevice(device)"></swc-maskable-icon>
        </div>
      </li>
    }
  </ul>
}