@use 'variables' as *;
@use 'themes' as *;

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--ui-bg-color-tierary);
  color: rgb(var(--text-color-rgb));
}

body {
  font-family: Arial, serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
}

@media screen and (min-width: $mobile-breakpoint) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}


.message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  color: rgba(var(--text-color-rgb), .4);
  text-align: center;

  swc-maskable-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  h1 {
    margin-top: .2rem;
    font-size: 1.2rem;
    font-weight: normal;
  }
}

.splash {
  display: flex;
  background-color: var(--hint-color);
  color: var(--color-white);
  padding: 2rem;
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  box-shadow: var(--box-shadow-normal);
  gap: 2rem;
  align-items: center;

  @media screen and (min-width: $mobile-breakpoint) {
    align-items: flex-end;
    border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
    min-height: 400px;
    padding: 4rem;
  }

  .title {
    flex: 1;

    h1, h2 {
      margin: 0;
      padding: 0;
    }

    h2 {
      margin-top: .5rem;
      opacity: .6;
      font-weight: normal;
    }
  }

  .header-icon {
    text-align: right;
    width: 60px;

    @media screen and (min-width: $mobile-breakpoint) {
      width: 200px;
      flex: 1;
    }
  }
}

.app-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;

  swc-application-widget {
    flex: 1 1 130px;
    min-width: 230px;
    max-width: 300px;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    swc-application-widget {
      flex: 1 1 230px;
    }
  }
}

.dimmed {
  opacity: .3;
}

.content-container {
  width: 100%;
  min-height: 100vh;

  @media screen and (min-width: $mobile-breakpoint) {
    max-width: 1000px;
    margin: 0 auto;
  }
}