<div class="content-container">
  <header class="splash">
    <div class="title">
      <h1>{{ 'FAVORITES_TITLE' | translate }}</h1>
      <h2>{{ 'FAVORITES_SUB_TITLE' | translate }}</h2>
    </div>
    <div class="header-icon">
      <img class="header-icon" src="/assets/icons/menu/favorite.svg" alt="Favorites" />
    </div>
  </header>

  @if (loading()) {
    <div class="loading-container">
      <swc-loading-indicator class="dimmed"></swc-loading-indicator>
    </div>
  } @else if (apps().length == 0) {
    <div class="notice">
      <a routerLink="/browse">
        <swc-icon-button icon="general/empty" [label]="'FAVORITES_BROSE_FOR_APPS' | translate"></swc-icon-button>
      </a>
    </div>
  } @else {
    <div class="app-list-container">
      <div>
        <div class="app-list">
          @for (app of apps(); track app.namespace) {
            <swc-application-widget [application]="app"></swc-application-widget>
          }
        </div>
      </div>
    </div>
  }
</div>